* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    /* background-color: white; */
    width: 100%;
}

body::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(/Images/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.b_header_Rey {
    height: 10vh;
}

        /*              NAV              */
nav {
    /* background: rgb(255, 255, 255); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    display: inline-block;
    padding-bottom: 2%;
}

nav ul li a {
    width: 178px;  
    display: block;  
    text-align: center;  
    font-family: 'Oswald', sans-serif;  
    font-size: 110%; 
    color: rgb(0, 0, 0);
    /* background: white; */
}

nav ul ul{
    position: absolute;
    top: 30px;
    display: none;
}

nav ul li:hover >ul{
    display: block;
}

nav ul ul li {
    float: none;
    position: relative;
    display: list-item;
    /* width: 10%; */
}

nav ul ul ul li {
    position: relative;
    top: 90px;
    /* margin-bottom: -40%; */
}

nav ul ul ul li {
    position: relative;
    top: -30px;
    left: 150px;
}

            /*         MAIN              */