* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    scroll-behavior: smooth;
}

#videoaccueil {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

.accueil_content {
        position:fixed;
        bottom: 0;
        left: 0;
        background: rgba(130, 197, 128, 0.1);
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
      }

#accueil_titre {
    font-family: 'Fjalla One', sans-serif;
    font-size: 150px;
    color: rgb(255, 255, 255);
    margin-left: 33%;
    margin-top: 8%;
    letter-spacing: 4px;
}

nav {
    margin-top: 3%;
    margin-left: 5%;
}

#divMenu, ul, li, li li {  
    margin: 0;  
    padding: 0;  
}  
   
#divMenu {  
    width: 150px;  
    height: 27px;  
}  
   
#divMenu ul  
{  
     line-height: 25px;  
}  
   
#divMenu li {  
        list-style: none;  
        position: relative;
        margin-top: 30%;   
    }  
   
#divMenu li li {  
            list-style: none;  
            position: relative;    
            left: 115px;  
            top: -40px;
            margin-top: 10%;  
        }  
   
   
#divMenu ul li a {  
        width: 148px;  
        height: 25px;  
        display: block;  
        text-decoration: none;  
        text-align: center;  
        font-family: 'Oswald', sans-serif;  
        color:#ffffff; 
        font-size: 130%; 
    }  
   
#divMenu ul ul {  
        position: absolute;  
        visibility: hidden;  
        top: 27px;  
    }  
   
#divMenu ul li:hover ul {  
        visibility: visible;  
    }  
   
   
#divMenu a:hover {  
        font-weight: bold;  
    }

.image {
    position:absolute;
    z-index: 100;
    width: 100px;
    transform: translate(630px,600px);
}

